<!-- mt-auto to send the footer to the bottom of the page -->
<footer class="footer bg-dark py-5 mt-auto">
  <div class="container">
    <!-- add a copyright text in the footer -->
    <span class="text-muted">&copy; YelpCamp 2022</span>
  </div>
</footer>