body{
    background-color: #f0f2f5;
}
.bodyBuild{
    display: flex;
}
.bodySec{
    display: flex;
    width: 50%;
    
    height: 500px;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding-left: 150px;
    padding-right: 100px;
    padding-top: 50px;
}
.lema{
    font-family: 'Open Sans', sans-serif;
    color: #1c1e21;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    display: block;
}
.logo{
    height: 70px;
}
.form{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    padding-top: 20px;
    background-color: #fff;
    height: 324px;
    width: 396px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
.formField{
    border-radius: 6px;
    font-size: 17px;
    width: 330px;
    height: 50px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    vertical-align: middle;
    padding-left: 20px;
    margin-top: 10px;
}
.loginButton{
    width: 355px;
    height: 50px;
    text-align: center;
    margin-top: 15px;
    border-radius: 6px;
    background-color: #1877f2;
    border: none;
    color: white;
    font-weight: 800;
    
}